body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

.center {
    text-align: center;
}

.card {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input, button {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
}

.menu {
    text-align: center;
    margin-bottom: 20px;
}

.menu a, .menu button {
    margin: 0 10px;
    text-decoration: none;
    padding: 10px;
}

table {
    width: 90%;
    margin: auto;
    background: white;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}
